/*👇カラーインポート👇*/
@import"_colors" ;

/*👇ブレークポイント定義👇*/
@media(max-width:480px) {
header {
    height:60px;
  }
.header-left {
    width:100%;
    text-align: left;
    overflow: hidden;
    a {
      font-size:25px;
      padding-top:10px;
      }
  }

.header-right {
    display: none;
 }

#menu-icon {
    display: block;
    position: relative;
    color:white;
    font-size:40px;
  span{
    padding:10px ;
    }
  }

.header-menu{
  display:none;
  width:120px;
  position: absolute;
  top:60px;
  left:-65px;
  text-align:right;
  background-color:$page-color;
  opacity:0.6;

  a {
    margin:10px 5px 0 0 ;
    color: white;
    text-decoration: none;
    font-size: 30px;
    }
}

.header-image {
  background-size: cover;
  height:300px;
}
.header-image-text {
  color: white;
  h2 {
   font-size:20px;
   margin-top:50px;
    }
  p {
    font-size:12px;
    margin-top:20px;
  }
}
.header-image-text  a{
      width:120px;
    }
#contents {

  padding:3% 0;
  margin-bottom:100px;

}
#slider {
  display:block;
}
.cardtype {
  display:none;
}
#side-var {
  width: 100%;
  text-align: center;
}

#main-contents {
  width:100%;
  padding:0;
}

#top-link a {
     position: fixed;
     right:5%;
     font-size:10px;
     padding:5px;
     border-radius:100px;

}
/*👇検索リストに対するレスポンシブ👇*/
.parents {
  list-style:none;
  padding-left:0;
  margin:1em ;

a {
      display: inline-block;
      width:80%;
      text-decoration: none;
      font-size:20px;
      color:$text-color;
}
 li {
   position: relative;
 }
 i {
   display: block;
   position: absolute;
   right: 3px;
   top:0px;
   padding:5px;
   background-color:$page-color;
   border-radius: 100px;
   opacity: 0.6;
 }
}
.children {
    position: static;
    width:98%;
    padding-left:0px;
    &::before {
      display: none;
    }

}
.cat-item-1:hover {
    background-color:white;
  }

/*👇about.contactページのレスポンシブ👇*/
.page-fot h2 {
 font-size:1.5em;
}
.contact-form {
  letter-spacing:0.2em;
}
#contact_button {
  background-color: $alt-color ;
  width:100%;
  font-size:1.3em;

}
/*👇検索結果ページのレスポンシブ👇*/


.search_results h2 {
  text-align: center;
}

}
